@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display      : grid;
    width        : 60%;
    margin       : 0 auto;
    border-bottom: 1px solid #808080;
}

.header {
    margin       : 0 auto;
    border-bottom: 2px solid black;
    width        : 100%;
    text-align   : center;
}

.main {
    margin-top     : 10px;
    display        : flex;
    justify-content: space-between;
}
