@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    width  : 60%;
    margin : 0 auto;
}

.header {
    margin       : 0 auto;
    border-bottom: 2px solid black;
    width        : 100%;
    text-align   : center;
}

.main {
    margin-top    : 10px;
    display       : flex;
    flex-wrap     : wrap;
    padding-bottom: 10px;
    border-bottom : 1px solid #808080;
}

.votesContainer {
    text-align: center;
    display   : inline-block;
    margin    : 0px 5px 0px 5px;
    width     : 80px;
}

.productDetailsContainer {
    flex-grow       : 2;
    padding         : 5px 10px 5px 10px;
    background-color: #f9d131;
    line-height     : 2ch;
}

.productTitle {
    border-bottom: 1px solid black;
}

.productTitle p {
    font-weight: 700;
    font-size  : 22px;
}

.productDescription p {
    font-size : 16px;
    font-style: italic;
}

.upVote, .downVote {
    font-size: 40px;
    cursor   : pointer;
}

.voteCount {
    background-color: #1458e0;
    color           : #ffffff;
    font-weight     : 600;
    padding         : 5px;
    text-align      : center;
    display         : inline-block;
}

.userImg {
    border-radius: 50%;
    width        : 30px;
    height       : 30px;
    margin       : 10px 0px 0px 5px;
}

.avatar {
    display: flex;
}

.avatar p {
    color     : #808080;
    font-style: italic;
}
